<div class="grid-container">   
    <header class="page-header">
        <div class="header-title">
            <h3 class="h1-title">Admin Settings</h3>
        </div>
    </header>
    <div class="container">
        <div>
            <button (click)="changeRoute('admin/articulo')"><span class="bi bi-bag-fill" aria-hidden="true"></span>
            <h4>Articulos</h4></button>
        </div>
        <div>
            <button (click)="changeRoute('admin/cliente')"><span class="bi bi-person-fill" aria-hidden="true"></span>
            <h4>Clientes</h4></button>
        </div>
        <div>
            <button (click)="changeRoute('admin/tienda')"><span class="bi bi-shop" aria-hidden="true"></span>
            <h4>Tiendas</h4></button>
        </div>
    </div>
    
    
    
  </div>